.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  margin-left: auto;
  max-width: 280px;
  max-height: 280px;
  text-align: center;
  position: relative;
  
}

.controls { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.loading {
  opacity: 50%;
}

.image {
  width: 100%;
  margin-bottom: 20px;
}

.copyBtn {
  /* width: 15%; */
  padding: 10px;
  padding-bottom: 0;
  border-color: #ffd502;
  background-color: #ffd502;
  font-weight: 900;
}

.icon {
  transform: translateY(2px);
  margin-right: 6px;
  margin-top: ;
}

.clearBtn {
  padding: 10px;
  border-color: #ffd502;
  background-color: #000000;
  color: #ffd502;
  font-weight: 900;
  outline: none;
}

.button:hover {
  background-color: #ffec6e;
}

@media print {
  .button {
    display: none;
  }
}

.loading {
  opacity: 0.5;
  position: relative;
}

.spinner {
  position: absolute;
  display: block;
  width: 128px;
  height: 128px;
  margin: auto;
  top: 5.5rem;
  z-index: 10000000;
  border-radius: 50%;
  border: 12px solid rgb(0, 0, 0);
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
