.container {
  display: block;
  margin: 1rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.header {
  font-size: 5rem;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.box {
  background-color: #ffd502;
  width: 85%;
  text-align: center;
  margin: auto;
}
